export HCLOUD_TOKEN= # create read/write at https://console.hetzner.cloud/projects/PROJECTID/security/tokens
export HCLOUD_CONTEXT= # the instructions use `home-cluster`
export SSH_PUBLIC_KEY="" # paste the content from `~/.ssh/id_rsa.pub` here (in double quotes, without `user@server` at the end)
export SSH_USER= # most likely `root` since other ones have not been tested
export SERVER_1_IP= # get it with `hcloud server ip server-1`
export SERVER_2_IP= # get it with `hcloud server ip server-2`
export SERVER_3_IP= # get it with `hcloud server ip server-3`
export CLIENT_1_IP= # get it with `hcloud server ip client-1`
export CLIENT_2_IP= # get it with `hcloud server ip client-2`
export SERVER_1_IP_INTERNAL= # get it from the private network created, e.g. 10.0.0.2 from `hcloud server describe server-1 | grep IP`
export SERVER_2_IP_INTERNAL= # get it from the private network created, e.g. 10.0.0.3 from `hcloud server describe server-2 | grep IP`
export SERVER_3_IP_INTERNAL= # get it from the private network created, e.g. 10.0.0.4 from `hcloud server describe server-3 | grep IP`
export CLIENT_1_IP_INTERNAL= # get it from the private network created, e.g. 10.0.0.5 from `hcloud server describe client-1 | grep IP`
export CLIENT_2_IP_INTERNAL= # get it from the private network created, e.g. 10.0.0.6 from `hcloud server describe client-2 | grep IP`
export ZT_SERVER_1_IP= # get it at https://my.zerotier.com`
export ZT_SERVER_2_IP= # get it at https://my.zerotier.com`
export ZT_SERVER_3_IP= # get it at https://my.zerotier.com`
export ZT_CLIENT_1_IP= # get it at https://my.zerotier.com`
export ZT_CLIENT_2_IP= # get it at https://my.zerotier.com`
export VAULT_ADDR=http://$ZT_SERVER_1_IP:8200
export CONSUL_HTTP_ADDR=http://$ZT_SERVER_1_IP:8500
export NOMAD_ADDR=http://$ZT_SERVER_1_IP:4646
export DOMAIN= # the domain name to use for your cluster
export VAULT_TOKEN= # the root token for your vault cluster. Careful: grants access to the data in vault
