# Terraform will look for variables starting with `TF_VAR_`

# log in to 1Password
eval $(op signin)


# proxmox access
export TF_VAR_proxmox_api_url="$(op read 'op://Homecluster/Proxmox Terraform User/website')"
export TF_VAR_proxmox_api_token_id="$(op read 'op://Homecluster/Proxmox Terraform User/token id')"
export TF_VAR_proxmox_api_token_secret="$(op read 'op://Homecluster/Proxmox Terraform User/token secret')"

# linux distro template to use
export TF_VAR_template_name="debian-10-cloudinit-template"

# servers
export TF_VAR_proxmox_hosts="[\"$(op read op://Homecluster/ENV_PROXMOX_SERVER_1/node_name)\", \"$(op read op://Homecluster/ENV_PROXMOX_SERVER_2/node_name)\", \"$(op read op://Homecluster/ENV_PROXMOX_SERVER_3/node_name)\"]"
export TF_VAR_nomad_server="[\"$(op read op://Homecluster/ENV_NOMAD_SERVER_1/node_name)\", \"$(op read op://Homecluster/ENV_NOMAD_SERVER_2/node_name)\", \"$(op read op://Homecluster/ENV_NOMAD_SERVER_3/node_name)\"]"
export TF_VAR_nomad_clients="[\"$(op read op://Homecluster/ENV_NOMAD_CLIENT_1/node_name)\", \"$(op read op://Homecluster/ENV_NOMAD_CLIENT_2/node_name)\"]"

# linux user account
export TF_VAR_ssh_username="$(op read op://Homecluster/ENV_SSH_USERNAME/username)"
export TF_VAR_ssh_key="$(op read op://Homecluster/ENV_SSH_PUBLIC_KEY/password)"